<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="ru.nikolas_snek.homework_1.PhoneActivity"
            android:exported="false" />
        <service android:name="ru.nikolas_snek.homework_1.PhoneBookService"/>
    </application>

</manifest>